ion-header {
    height: 25vh;
    border-radius: 0px 0px 55px 55px;
    background-color: #202020;
}
ion-menu-button{
    color: #fdfdfd;
}
ion-toolbar {
    --background: #202020;
}
ion-icon {
    width: 12px;
    height: 12px;
    color: #f07d07;
    background-color: #040404;
    padding: 6px;
    border-radius: 100%;
    display: inline-block;
}
ion-title{
    text-align: center;
}
  .icon-noti{
    margin-right: 18px;
  }
  .notification {
    width: 10px;
    height: 10px; 
    background-color: #7df0d3; 
    border-radius: 50%; 
    display: inline-block; 
    margin-left: 10px; 
  }

ion-buttons {
    position: relative; 
}
  
ion-buttons .notification {
    position: absolute;
    top: -1px;
    right: -3px;
}