ion-header {
  background-color: var(--ion-color-light-black);
}
ion-menu-button {
  color: #fdfdfd;
}
ion-toolbar {
  --background: var(--ion-color-light-black);
}
ion-icon {
  width: 12px;
  height: 12px;
  color: var(--ion-color-orange);
  background-color: var(--ion-color-dark-black);
  padding: 6px;
  border-radius: 100%;
  display: inline-block;
}
ion-title {
  text-align: center;
}
img {
  width: 80px;
}
.icon-noti {
  margin-right: 18px;
}
.notification {
  filter: drop-shadow(0 0 0.15rem var(--ion-color-light-green));
  width: 10px;
  height: 10px;
  background-color: var(--ion-color-light-green);
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}
ion-buttons {
  position: relative;
}
ion-buttons .notification {
  position: absolute;
  top: -1px;
  right: -3px;
}
