<ion-grid>
  <ion-row>
    <ion-col size="auto" >
      <h2 class="ion-text-uppercase">Programas</h2>
    </ion-col>
    <ion-col size="auto" class="ion-align-self-center new" >
      <p class="ion-text-uppercase">Novo</p>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col size="12" class="container">
      <div class="card-content">
        <div class="overlay">
          <div class="content">
            <p class="ion-text-lowercase">Continuar treinando</p>
            <p class="ion-text-uppercase">Levantamento de Peso</p>
          </div>
        </div>
      </div>

      <div class="card-content">
        <div class="overlay">
          <div class="content">
            <p class="ion-text-lowercase">Continuar treinando</p>
            <p class="ion-text-uppercase">Yoga Express</p>
          </div>
        </div>
      </div>


      <div class="card-content">
        <div class="overlay">
          <div class="content">
            <p class="ion-text-lowercase">Continuar treinando</p>
            <p class="ion-text-uppercase">Levantamento de Peso</p>
          </div>
        </div>
      </div>


      
    </ion-col>
    
  </ion-row> 
</ion-grid>
