<ion-grid>
  <ion-row>
    <ion-col size="auto">
      <h2 class="ion-text-uppercase">Programas</h2>
    </ion-col>
    <ion-col size="auto" class="ion-align-self-center latest">
      <p class="ion-text-uppercase">Novo</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="container">
      <div class="card-content" *ngFor="let programs of programsTypes$ | async" [ngStyle]="{'background-image': 'url(' + programs.url_img + ')'}">
          <div class="content">
            <p class="ion-text-lowercase">Continuar treinando</p>
            <p class="ion-text-uppercase">{{programs.name}}</p>
        </div>
      </div>
    </ion-col>
  </ion-row> 
</ion-grid>
