<ion-grid>
  <ion-row>
    <ion-col size="auto">
      <h2 class="ion-text-uppercase">Personal Online</h2>
    </ion-col>
    <ion-col size="auto" class="ion-no-padding ion-align-self-center">
      <ion-buttons>
        <ion-icon name="add-sharp"></ion-icon>
      </ion-buttons>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col size="12" class="container">
      <div class="card-content">
        <div class="overlay">
          <div class="content">
            <ion-buttons>
              <ion-icon name="add-sharp"></ion-icon>
            </ion-buttons>
            <p class="ion-text-uppercase" style="margin-left: 5px;">Novo <br> Treino</p>
          </div>
        </div>
      </div>

      <div class="card-content">
        <div class="overlay">
          <div class="content">
            <ion-buttons>
              <ion-icon name="add-sharp"></ion-icon>
            </ion-buttons>
            <p class="ion-text-uppercase" style="margin-left: 5px;">Novo <br> Treino</p>
          </div>
        </div>
      </div>

      <div class="card-content">
        <div class="overlay">
          <div class="content">
            <ion-buttons>
              <ion-icon name="add-sharp"></ion-icon>
            </ion-buttons>
            <p class="ion-text-uppercase" style="margin-left: 5px;">Novo <br> Treino</p>
          </div>
        </div>
      </div>
    </ion-col>
    
  </ion-row> 
</ion-grid>
