// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-orange: #f07d07;
    --ion-color-orange-rgb: 240, 125, 7;
  }
  $colors: (
    orange: #f07d07,
  );
    