<ion-grid>
  <ion-row style="margin-left: 20px;">
    <ion-col size="auto">
      <ion-avatar>
        <img src="../../../assets/icon/img-person.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col size="auto">
     <div class="info-person">
      <h2>Leonardo Santos</h2>
      <p>Nível Roxo</p>
     </div>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center row-options">
    <ion-col size="auto" class="ion-text-uppercase ion-no-padding">
        <ion-buttons>
          <ion-icon name="body-sharp"></ion-icon>
          <p>Meu Corpo</p>
        </ion-buttons>
    </ion-col>
    <ion-col size="auto" class="ion-text-uppercase ion-no-padding" style="padding-left: 5px;">
      <ion-buttons>
        <ion-icon name="trophy-sharp"></ion-icon>
        <p>Objetivos e Conquistas</p>
      </ion-buttons>
    </ion-col>
  </ion-row>
 
  
</ion-grid>