<ion-grid>

  <ion-row>
    <ion-col size="auto">
      <ion-avatar>
        <img src="../../../assets/logo/smiling-athletic-man-black-background.bmp">
      </ion-avatar>
    </ion-col>
    <ion-col size="auto">
     <div class="profile-details">
      <h2>Leonardo Santos</h2>
      <p>Nível Roxo</p>
     </div>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center body-metrics">
    <ion-col size="auto" class="ion-text-uppercase ion-no-padding">
        <ion-buttons>
          <ion-icon name="body-sharp"></ion-icon>
          <p>Meu Corpo</p>
        </ion-buttons>
    </ion-col>
    <ion-col size="auto" class="ion-text-uppercase ion-no-padding">
      <ion-buttons>
        <ion-icon name="trophy-sharp"></ion-icon>
        <p>Objetivos e Conquistas</p>
      </ion-buttons>
    </ion-col>
  </ion-row>
 
</ion-grid>